.b-digest-header {
  background-color: #eae4d9;
  padding-bottom: 50px;
  padding-top: 25px;
}

.b-digets-header__digets-counter {
  margin-top: 10px;
}

.b-digest-header__title {
  margin-bottom: 5px;
}

.b-digest-header__txt {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: em(13px);
  line-height: em(20px, 13px);
  max-width: em(530px, 13px);
}