.b-digest {}

.b-digest__header {}

.b-digest__sections {
  margin-left: -1.9%;
  margin-top: -25px;
}

.b-digest__digest-cards {
  margin-bottom: 35px;
}

.b-digest__social {
  margin-bottom: 35px;
}