.b-document-info {

  h3 {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: em(40px);
    font-weight: normal;
    line-height: 1;
  }

  p {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: em(15px);
    margin: 5px 0;
  }
}