.b-document-detected {}

.b-document-detected__title {
  margin-bottom: 5px;
}

.b-document-detected__loading {
  margin-right: 10px;
  margin-top: 3px;
}

.b-document-detected__txt {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  line-height: em(18px);
}