.b-year {
  color: #043740;
  font-family: "Open Sans";
  font-size: 41px;
  font-weight: 300;
  line-height: 1;
}

.b-year__top {
  display: inline-block;
  font-size: 16px;
  line-height: 1;
  vertical-align: 15px;
}