/* Colors */
$black: #000;
$white: #fff;
$blue: #0072bc;
//$scarlet: #ed1c24;
$brown: #c16628;

/* Typography */
$base-font-size: 13px;
$base-font-family: Verdana, Geneva, sans-serif;
//$base-line-height: 1.3846em;
//$baseSpacing: $base-line-height+em;
$base-text-color: $black;

/* Link */
$link-color: $blue;
$link-hover-color: $brown;