@media only screen and (min-width : 1278px) {
    
    #nav {
        display: none;
    }
    
    #main {
        width: 100%;
    }
    
    /*#header {
        position: relative;
        -webkit-flex: 1 auto;
        flex: 1 auto;
    }
    */
}