@-webkit-keyframes bugfix { 
    from { padding: 0; } to { padding: 0; }
}
html {
    height: 100%;
    font-size: 62.5%;
    font-family: Roboto, sans-serif;
}
body {
    height: 100%;
    -webkit-animation: bugfix infinite 1s;
}
/* navigation panel */
#nav {
    position: fixed;
    top:0;
    z-index: 10000;
}
#nav ul {
    padding:0;
    margin:0;
}

#nav > ul > li {
    display: none;
}
#nav > ul > li:last-child {
    display:block;
    position: fixed;
    top:.5rem;
    right:1rem;
}
#nav > ul > li:last-child a {
    color: #ffffff;
}

#main {
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-flex-wrap: wrap;
    -webkit-justify-content: center;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
    max-width: 640px;
    margin: auto;
}

#copy {
    -webkit-flex: 1 100%;
    flex: 1 100%;
}
@media only screen and (max-width : 768px) {
    #main > div {
        -webkit-flex: 1 100%;
        flex: 1 100%;
    }
}

#header > p,
#header > h1,
#header > h2,
#header > h3,
#header > h4,
#header > h5,
#header > h6 {
    margin: 0 1.5rem;
}
#header {
    padding-bottom: 3rem;
}

/* share buttons block */
ul.share-buttons li {
    margin: 0 0 0 0;
    display: inline;
}
ul.share-buttons li a span {
   display: none;
}
ul.share-buttons li a {
    background-image: url(../system/static/social_icons.png);
    display: inline-block;
    height: 20px;
    margin: 1px 0 0 1px;
    padding: 0;
    vertical-align: inherit;
    width: 20px;
}
ul.share-buttons li:first-child a {
    margin: 1px 0 0 0;
}
ul.share-buttons li a[title='Twitter'] {
    background-position: -21px 0;
}
ul.share-buttons li a[title='ВКонтакте'] {
    background-position: -84px 0;
}
ul.share-buttons li a[title='Одноклассники'] {
    background-position: -63px 0;
}
ul.share-buttons li a[title='Мой Мир@mail.ru'] {
    background-position: -147px 0;
}
ul.share-buttons li a[title='Google+'] {
    background-position: -126px 0;
}

/*#docs, #files {
    padding-top: 2.25rem;
}*/

#links {
    padding: 0 0 2rem 0;
}

#links ul.share-buttons {
    list-style: none;
    padding: 0;
    margin:1.5rem 1.5rem;
}

#staff,
#persons,
#forms,
#documents,
#unions,
#digest-dests {
    margin: 1.5rem 0 0 0;
}
#staff h2,
#persons h2,
#documents h2,
#forms h2,
#unions h2,
#digest-dests h2 {
    font-size: 2rem;
    margin: 0 1.5rem;
    margin-top: 2rem;
    line-height: 1.2;
}
#staff ul,
#persons ul,
#documents ul,
#forms ul,
#unions ul,
#digest-dests ul {
    padding: 0;
    margin: 0 1.5rem;
}
#staff ul li,
#persons ul li,
#forms ul li,
#unions ul li,
#digest-dests ul li {
    margin: 0;
    list-style: none;
    margin: 0;
    padding: 0;
}
#staff a,
#persons a,
#staff p,
#persons p,
#documents a,
#documents p,
#forms a,
#forms p,
#unions a,
#unions p,
#digest-dests a,
#digest-dests p {
    margin: 1rem 0 0 0;
}

.menu {
    padding: 1.25rem 0;
    margin-bottom: 0;
}
.menu h2 {
    line-height: 2;
    font-size: 2rem;
    margin: 0 1.5rem;
    font-weight: 400;
}
.menu h2 > a {
    text-decoration: none;
}
.menu ul {
    list-style: none;
    padding: 0;
    margin:0 1.5rem;
}
.menu ul.share-buttons {
    margin-top: 3rem;
}
.menu > ul > li p,
.menu-top > ul > li p {
    margin: 1rem 0;
}
.menu-top > ul li[id] p a
.menu > ul li[id] p a {
    opacity: .5;
}

#copy p {
    padding: 1.5rem 0 .75rem 0;
    font-size: 1rem;
    margin-left: 1.5rem;
}

.flipper {
    position:relative;
}
.flipper > input {
    position: absolute;
    clip:rect(0 0 0 0);
    overflow:hidden;
}
.flipper > label {
    position:absolute;
    bottom:-4px;
    left:0;
    z-index: 1000;
    overflow:hidden;
    display:inline-block;
    width:44px;
    height:40px;
    text-indent:-9999px;
    cursor: pointer;
}
.flipper > input + label + img {
    opacity: 0;
    transition: all 1s ease-out; 
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transform:rotateX(180deg);
}
.flipper > input:checked + label + img {
    opacity: 1;
    transition: all 1s ease-out; 
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transform:rotateZ(-360deg);
    perspective: 800px;
    perspective-origin: 50% 100px;
} 


/* image control panel */
#docs div.image-control-panel,
#files div.image-control-panel {
    position: absolute;
    height: 44px;
    margin-top: -44px;
}
#docs div.image-control-panel > ul,
#files div.image-control-panel > ul {
    list-syle: none;
    margin:8px 0;
    padding:0;
    text-align:left;
}
#docs div.image-control-panel > ul > li,
#files div.image-control-panel > ul > li {
    display: inline;
    padding: 0 .5rem;
}
#docs div.image-control-panel > ul > li:first-child,
#files div.image-control-panel > ul > li:first-child {
    padding: 0 .5rem 0 1.5rem;
}
#docs div.image-control-panel > ul > li i,
#files div.image-control-panel > ul > li i {
    font-size: 26px;
    cursor:pointer;
}
#docs div.image-control-panel a,
#files div.image-control-panel a {
    text-decoration: none;
}