#header {
    padding-top: 2.25rem;
}
#header > h6 {
    font-weight: 300;
    line-height:1.45;
}
#header > h1 {
    font-weight: 400;
    margin-top: 2rem;
}
#header > h2 {
    margin-top: 1rem;
    line-height: 1.25;
}
#header > p {
    margin-top: 2rem;
}
#header > p > small {
    line-height: 2rem;
    margin: 0;
}
#header > sub > p,
#header > small > p {
    margin: 2rem 1.5rem 1.25rem 1.5rem;
}

#header > .menu {
    display: none;
}

@media only screen and (min-width : 900px) {
    #header ul.share-buttons {
        right: 3rem;
        margin:0 3rem 1.5rem 0;
    }
}

#docs > div {
    padding: 0;
    margin:0;
}
#docs > div > div {
    position: relative;
    display: block;
}
#docs > div > div div:first-child > img {
    width: 100%;
    -webkit-filter: contrast(100%);
}
#docs > div > div div:last-child {
    padding-bottom: 2rem;
}
#docs > div > div div:last-child > h3,
#docs > div > div div:last-child > p {
    margin: 0 1.5rem;
}
#docs > div > div div:last-child > p:first-child {
    margin-top: 3rem;
}

@media only screen and (min-width : 900px) {
    #header {
        -webkit-flex: 3 30%;
        flex: 3 30%;
        max-width: 30%;
    }
    #header > .menu {
        display: block;
    }
    #docs {
        -webkit-flex:7 70%;
        flex: 3 30%;
        max-width: 70%;
    }
    #main > .menu {
        display: none;
    }
    #header ul.share-buttons {
        margin: 3rem 3rem;
    }
    #docs > div {
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        
        display: -webkit-flex;
        -webkit-flex-flow: column wrap;
        -webkit-justify-content: flex-start;
        -webkit-align-items: flex-start;
        -webkit-align-content: flex-start;
        
        padding:0;
        margin:0;
    }
    #docs > div > div {
        max-width: 49%;
        margin-left:1%;
    }
    #docs > div > div div:last-child > p:first-child {
        margin-top: 2rem;
    }
}

@media only screen and (min-width : 1200px) {
    #header {
        -webkit-flex: 25 25%;
        flex: 25 25%;
        max-width: 25%;
    }
    #header > .menu {
        display: none;
    }
    #main > .menu {
        display: block;
    }
    #docs {
        -webkit-flex: 60 60%;
        flex: 60 60%;
        max-width: 60%;
    }
    #docs > div > div {
        max-width: 32%;
    }
    #main > .menu {
        -webkit-flex: 15 15%;
        flex: 15 15%;
        max-width: 15%;
    }
}
@media only screen and (min-width : 2000px) {
    #header {
        -webkit-flex: 15 15%;
        flex: 15 15%;
        max-width: 15%;
    }
    #docs {
        -webkit-flex: 70 70%;
        flex: 70 70%;
        max-width: 70%;
    }
    #docs > div > div {
        max-width: 23.7%;
    }
}