body {
    background: rgba(0,0,0,1);
}
small {
    font-size: 1rem;
}
a {
    font-weight: normal;
    text-decoration: none;
    border-bottom: 1px dotted;
}
h2, h6, p, small {
    font-weight: normal;
}
small {
    line-height: 1;
}
#header, #nav, #copy, #main > .menu, #main { 
    background-color: rgba(64,0,0,.75); 
}
#header small, #header p, #header h1, #header h2, #header h3, #header h4, #header h5, #header h6, #header strong {
    color: #fff;
}
#header + div, #header + div + div:not(.menu) { 
    background: url(../system/static/modern_bg.100x100.jpg);
    /*background-color: rgba(0,0,0,.8); */
}

/*#docs > *, #files > *, #links > * {
    background: rgba(255,255,255,.2);
}*/

#docs img {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.39);
}

.menu p, .menu h1, .menu h2, .menu h3, .menu h4, .menu h5, .menu h6,  .menu a, .menu small,
#copy small {
    color: #fff;
}
#files .face h6 {
    color: #000;
}
@media only screen and (min-width : 900px) {
    body { 
        background: url(../system/static/main.l.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    /*
    #menu { 
        background: url(../system/static/modern_bg.jpg);
    }
    */
    /*
    #docs p,
    #docs h2,
    #docs h3,
    #docs h4,
    #docs h5,
    #docs h6,
    #files p,
    #files h2,
    #files h3,
    #files h4,
    #files h5,
    #files h6,
    */
    /*
    #menu h2,
    #menu p {
        color: #000;
    }
    */
}