#header {
    padding-top: 2.25rem;
    padding-bottom: 3rem;
}

#header > h6 {
    font-weight: 300;
    line-height:1.45;
}
#header > h1 {
    font-size: 2.4rem;
    font-weight: 400;
    margin-top: 2.5rem;
}
#header > .menu {
    display: none;
}
#main, #header {
    max-width: 1600px
}
#docs {
    /*padding: 0;*/
}
#docs > h2 {
    margin: 1rem 1.5rem 1rem 1.5rem;
}
#docs > p {
    margin: 2rem 3rem;
}
#docs > p > img {
    max-width: 100%;
    margin: 1rem 0 3rem 0;
}
#docs > p > img + small {
    display: block;
    margin-right: 0;
}

@media only screen and (min-width : 900px) {
    #main {
        height: 100%;
    
        display: -webkit-flex;
        -webkit-flex-flow: row wrap;
        -webkit-justify-content: stretch;
        -webkit-align-content: stretch;
        
        display: flex;
        flex-flow: row wrap;
        justify-content: stretch;
        align-content: stretch;
        align-items: stretch;
    }
    #header p.help, #header p {
        display: block;
        margin: 2rem 3rem;
    }
    #header > .menu {
        margin-top: 3rem;
        display: block;
    }
    #header {
        -webkit-flex: 4 40%;
        flex: 4 40%;
        max-width: 40%;
    }
    #header form {
        margin: 0;
        padding: .5rem 3rem 0 3rem;
    }
    #docs {
        -webkit-flex: 6 60%;
        flex: 6 60%;
        max-width: 60%;
    }
    #docs > h2 {
        margin: 0 3rem;
    }
    
    #docs > p > img {
        max-width: 320px;
        max-height: 192px;
    }
    
    #main > .menu {
        display: none;
    }
    #header ul.share-buttons {
        margin: 3rem 3rem;
    }
}
@media only screen and (min-width : 1200px) {
    #header {
        -webkit-flex: 30 30%;
        flex: 30 30%;
        max-width: 30%;
    }
    #header > .menu {
        display: none;
    }
    #main > .menu {
        display: block;
    }
    #docs {
        -webkit-flex: 45 45%;
        flex: 45 45%;
        max-width: 45%;
    }
    #main > .menu {
        -webkit-flex: 25 25%;
        flex: 25 25%;
        max-width: 25%;
    }
}