body { 
    background: url(../../school/images/school/0000071/img009.large.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
small {
    font-size: 1rem;
}
a {
    font-weight: normal;
}
h6,p,small {
    font-weight: normal;
}
#nav, #main { 
    background-color: rgba(64,0,0,.8); 
}
#header small,
#header p,
#header h1,
#header h2,
#header h3,
#header h4,
#header h5,
#header h6 {
    color: #fff;
}

#docs,#files,#links,#menu,#copy, .slider { 
    background-color: rgba(64,0,0,.9); 
}
#docs p,
#docs h2,
#docs h3,
#docs h4,
#docs h5,
#docs h6,
#files p,
#files h2,
#files h3,
#files h4,
#files h5,
#files h6,
#menu p,
#menu h2,
#copy small {
    color: #fff;
}
#files .face h6 {
    color: #000;
}
@media only screen and (min-width : 900px) {
    #menu { 
        background: url(../system/static/modern_bg.jpg);
        /*background-color: rgba(255,255,255,.95);*/
    }
    /*
    #docs p,
    #docs h2,
    #docs h3,
    #docs h4,
    #docs h5,
    #docs h6,
    #files p,
    #files h2,
    #files h3,
    #files h4,
    #files h5,
    #files h6,*/
    #menu p,
    #menu h2 {
        color #000;
    }
}